<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>$pagetitle</title>
<link rel="stylesheet" type="text/css" href="/css/jquery/jquery.ui.all.css" media="screen"/>
<link rel="stylesheet" type="text/css" href="/css/admin.css" />
<link rel="stylesheet" type="text/css" href="/css/table_data.css" />
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui-1.8.2.js"></script>
<script type="text/javascript" src="/js/jquery.droppy.js"></script>
<script type="text/javascript" src="/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="/js/custom.js"></script>
<script type="text/javascript" src="/js/admin.js"></script>
</head>
<body>

<div id="wrapper">

      <ul id="topbar">
		<li class="s_1"></li>
        <li>$breadcrumbs</li>
        <li class="fr"><a class="button red fl" href="admin.php?logout"><span class="icon_text logout"></span>выход</a></li>
        <li class="s_1 fr"></li>
		<li class="fr"><a class="button white fl" href="javascript:;"><span class="icon_text admin"></span>$user_real</a></li>
		<li class="fr"><a id="logged">Вы вошли как</a></li>
		<li class="clear"></li>
      </ul>

      $menu

      <div id="subnavbar">
      	$subnavmenu
	  </div>

	  <div id="content">

	    <div class="column full">
