server {
    listen      *:443;
    ssl on;
    ssl_certificate /usr/local/etc/nginx/ssl/ssl.crt;
    ssl_certificate_key /usr/local/etc/nginx/ssl/ximiraga.key;
    server_name api.io.mi.com ximalaya.com www.ximalaya.com api.ximalaya.com mobile.ximalaya.com open.ximalaya.com $MIR_DOMAIN_NAME;
    root        $MIR_WWW_PATH;
    index       index.php index.html index.htm;
    access_log  /var/log/nginx/radio_access.ssl.log;
    error_log   /var/log/nginx/radio_error.ssl.log;
    location @ximalaya {
        proxy_pass http://api.ximalaya.com;
    }

    location / {
        rewrite ^/(.*).m3u8 /play.php?xid=$1;
        try_files $uri $uri/ @ximalaya;
    }

    location /openapi-gateway-app/live/radios {
        try_files $uri $uri/ /index.php;
    }

    location /openapi-gateway-app/search/radios {
        try_files $uri $uri/ /index.php;
    }

    location /openapi-gateway-app/live/get_radios_by_ids {
        try_files $uri $uri/ /index.php;
    }

    location ~* ^.+\.(jpeg|jpg|png|gif|bmp|ico|svg|css|js)$ {
        expires     max;
    }

    location ~ [^/]\.php(/|$) {
        try_files $uri =404;
        fastcgi_split_path_info ^(.+\.php)(/.+)$;
        fastcgi_pass unix:/var/run/php-fpm.sock;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param SCRIPT_NAME $fastcgi_script_name;
        fastcgi_index index.php;
        include fastcgi_params;
    }

    location ~* "/\.(htaccess|htpasswd)$" {
        deny    all;
        return  404;
    }
}